section section section {
    margin-left: 1em;
}

section > p:first-child {
    color: #005A9C;
}

table.xsd-generic-attrs {
    font-size: 90%;
}

table.xsd-generic-attrs th {
    font-weight: normal;
}

section div.xsd-documentation {
    padding-left: 0.5rem;
    border-left: medium solid #888a85;
}

ul.xsd-sequence {
    list-style-type: disc;
}

ul.xsd-choice {
    list-style-type: circle;
}

ul.xsd-attributes,
ul.xsd-enumerators {
    list-style-type: square;
}
