pre {
    padding: 0.5em;
    background-color: #f6f6f4;
    border: thin solid #eeeeec;
}

pre pre {
    padding: 0;
    border: 0 none;
}

#toc {
    border-top: thin solid #aaa;
    border-bottom: thin solid #aaa;
    padding: 1em;
    column-count: 3;
}

#toc li {
    list-style-type: none;
}

#toc > li:not(:first-child) {
    margin-top: .5em;
}

#toc li ul {
    padding-left: 1em;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

td,
th {
    border: thin solid #dddddd;
    padding: 0.25em 0.5em;
}

th {
    background-color: #e8e8e8;
}

table.param-doc > tbody > tr > td:first-child,
table.param-doc > tbody > tr > td:nth-child(3) {
    font-family: monospace;
}
